* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.user--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

.form_row {
  width: 50%;
}

.form-input {
}

.table {
}
